<nav> 
    <h2 class="logo">Daliene<span>.NET</span></h2>

    <ul>
        <li><NavLink href="/" Match="NavLinkMatch.All">Início</NavLink></li>
        <li><NavLink href="/sobre">Sobre mim</NavLink></li>
        <li><NavLink href="/experiencia">Experiência</NavLink></li>
        <li><NavLink href="/projetos">Projetos</NavLink></li>
        <li><NavLink href="/contato">Contato</NavLink></li>
        <li><NavLink href="/"></NavLink></li>
    </ul>
</nav>