@page "/"


@* ===============================
   INICIO
================================*@

<section id="inicio" class="section-full">
    <!-- HERO -->
    <div class="hero">
        <h1 class="hero-title">
            @typedText<span class="cursor">|</span>
        </h1>

        <h3>Engenheira de Software | Desenvolvedora .NET</h3>

        <p>
            Transformando ideias em soluções modernas com C# e tecnologias .NET.
        </p>
    </div>
</section>

@* ===============================
   SOBRE
================================*@

<section id="sobre" class="section-full">
    <div class="sobre-container">

        <div class="sobre-imagem">
            <img src="imagens/perfil.png" alt="Daliene Desenvolvedora .NET" />
        </div>

        <div class="sobre-texto">
            <h2>Sobre <span>mim</span></h2>

            <p class="destaque">
                Daliene Nonato Lima Roque.
            </p>

            <p class="justificado">
                Sou estudante de Engenharia de Software pela Unicesumar, com foco em Desenvolvimento Backend em .NET,
                em transição de carreira da área da saúde para a tecnologia.
            </p>

            <p class="justificado">
                Atuo há mais de 7 anos como Técnica de Enfermagem na Pediatria de um hospital filantrópico,
                experiência que fortaleceu minhas habilidades de comunicação, trabalho em equipe e resolução de problemas.
            </p>

            <p class="justificado">
                Atualmente, estou dedicada ao desenvolvimento backend, com foco na construção de APIs RESTful,
                lógica de negócio, integração com banco de dados e boas práticas como POO, SOLID,
                Injeção de Dependência, Arquitetura Limpa e Código Limpo.
            </p>
        </div>

    </div>
</section>

@* ===============================
   EXPERIENCIA
================================*@


<section id="experiencia" class="section-full">
    <h2 class="section-title">Minha <span>Experiência</span></h2>

    <div class="timeline">

        <div class="timeline-item">
            <div class="timeline-dot"></div>
            <div class="timeline-content">
                <h3>Desenvolvimento Backend .NET</h3>
                <span class="timeline-date">2024 - Atual</span>
                <p class="justificado">
                    Desenvolvimento de APIs RESTful com ASP.NET Core,
                    aplicação de POO, SOLID, Injeção de Dependência e Arquitetura Limpa.
                    Integração com banco de dados SQL Server e boas práticas de código com projetos acadêmicos.
                </p>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-dot"></div>
            <div class="timeline-content">
                <h3>Transição de Carreira para Tecnologia</h3>
                <span class="timeline-date">2023 - Atual</span>
                <p>
                    Início dos estudos em Engenharia de Software pela Unicesumar.
                </p>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-dot"></div>
            <div class="timeline-content">
                <h3>Técnica de Enfermagem – Pediatria</h3>
                <span class="timeline-date">2018 - Atual</span>
                <p class="justificado">
                    Atuo na área assistencial de enfermagem, realizando cuidados diretos ao paciente,
                    monitoramento de sinais vitais, apoio em procedimentos e registros em prontuário.
                    Essa experiência fortalece minhas habilidades em trabalho em equipe, comunicação eficaz,
                    organização, atenção aos detalhes, responsabilidade,
                    gestão do tempo e atuação sob pressão — competências que também aplico na área de tecnologia.
                </p>
            </div>
        </div>

    </div>
</section>

@* ===============================
   PROJETOS
================================*@

<section id="projetos" class="projetos">
    <h2 class="titulo-secao">
        Meus <span>Projetos</span>
    </h2>

    <div class="projetos-container">

        <!-- CARD 1 -->
        <div class="card-projeto">
            <h3>TechStore</h3>
            <p class="justificado">
                É uma aplicação completa de e-commerce desenvolvida como projeto educacional e profissional, simulando um cenário real de empresa.
                O projeto integra um backend robusto em ASP.NET Core com um frontend em Blazor WebAssembly, aplicando boas práticas de arquitetura e organização de código.
            </p>

            <div class="tecnologias">
                <span class="badge">C#</span>
                <span class="badge">.NET</span>
                <span class="badge">ASP.NET Core</span>
                <span class="badge">Entity Framework Core</span>
                <span class="badge">AutoMapper</span>
                <span class="badge">Swagger / OpenAPI</span>
                <span class="badge">HTML</span>
                <span class="badge">CSS</span>
                <span class="badge">Bootstrap</span>
                <span class="badge">Blazor</span>
                <span class="badge">SQL Server</span>
                <span class="badge">Git</span>
                <span class="badge">GitHub</span>
            </div>

            <div class="botoes">
                <a href="https://github.com/dalieneroque/TechStore"
                   target="_blank"
                   class="btn-outline">
                    Acessar repositório
                </a>

                <a href=""
                   target="_blank"
                   class="btn-primary">
                    Acessar projeto
                </a>
            </div>
        </div>

        <!-- CARD 2 -->
        <div class="card-projeto">
            <h3>Biblioteca</h3>

            <p class="justificado">
                A Biblioteca Web API é um projeto desenvolvido em .NET 8 com o objetivo de gerenciar informações de autores e livros.
                A aplicação segue os princípios de uma API RESTful, permitindo realizar operações CRUD (Create, Read, Update, Delete) sobre as entidades Autor e Livro, com persistência dos dados em um banco SQL Server.
            </p>

            <div class="tecnologias">
                <span class="badge">C#</span>
                <span class="badge">.NET</span>
                <span class="badge">ASP.NET Core</span>
                <span class="badge">Entity Framework Core</span>
                <span class="badge">Swagger / OpenAPI</span>
                <span class="badge">SQL Server</span>
                <span class="badge">Git</span>
                <span class="badge">GitHub</span>
            </div>

            <!-- Área de Botões -->
            <div class="botoes">
                <a href="https://github.com/dalieneroque/Biblioteca_Api"
                   target="_blank"
                   class="btn-outline">
                    Acessar repositório
                </a>
            </div>
        </div>

        <!-- CARD 3 -->
        <div class="card-projeto">
            <h3>Jokenpo</h3>

            <p class="justificado">
                Este projeto implementa um jogo de Pedra, Papel e Tesoura utilizando C# com Windows Forms.
                Acesse o vídeo para conferir a demonstração do projeto em funcionamento.
            </p>

            <div class="tecnologias">
                <span class="badge">C#</span>
                <span class="badge">Windows Forms</span>
                <span class="badge">Git</span>
                <span class="badge">GitHub</span>
            </div>

            <!-- Área de Botões -->
            <div class="botoes">
                <a href="https://github.com/dalieneroque/JoKenPo"
                   target="_blank"
                   class="btn-outline">
                    Acessar repositório
                </a>

                <a href="https://www.youtube.com/watch?v=L2ZI1dEA9cU"
                   target="_blank"
                   class="btn-primary">
                    Acessar vídeo
                </a>
            </div>

        </div>

    </div>
</section>

@* ===============================
   CONHECIMENTOS
================================*@

<section id="conhecimentos" class="conhecimentos-section">
    <h2 class="section-title">Meus <span>Conhecimentos</span></h2>

    <div class="tech-container">

        <div class="tech-item">
            <i class="devicon-csharp-plain colored"></i>
            <p>C#</p>
        </div>

        <div class="tech-item">
            <i class="devicon-dotnetcore-plain colored"></i>
            <p>.NET</p>
        </div>

        <div class="tech-item">
            <i class="devicon-blazor-original colored"></i>
            <p>Blazor</p>
        </div>

        <div class="tech-item">
            <i class="devicon-html5-plain colored"></i>
            <p>HTML</p>
        </div>

        <div class="tech-item">
            <i class="devicon-css3-plain colored"></i>
            <p>CSS</p>
        </div>

        <div class="tech-item">
            <i class="devicon-bootstrap-plain colored"></i>
            <p>Bootstrap</p>
        </div>

        <div class="tech-item">
            <i class="devicon-microsoftsqlserver-plain colored"></i>
            <p>SQL Server</p>
        </div>

        <div class="tech-item">
            <i class="devicon-mysql-plain colored"></i>
            <p>MySQL</p>
        </div>

        <div class="tech-item">
            <i class="devicon-git-plain colored"></i>
            <p>Git</p>
        </div>

        <div class="tech-item">
            <i class="devicon-github-original"></i>
            <p>GitHub</p>
        </div>

        <div class="tech-item">
            <i class="devicon-visualstudio-plain colored"></i>
            <p>Visual Studio</p>
        </div>

        <div class="tech-item">
            <i class="devicon-postman-plain colored"></i>
            <p>Postman</p>
        </div>

        <div class="tech-item">
            <i class="devicon-swagger-plain colored"></i>
            <p>Swagger</p>
        </div>                  
    </div>
</section>

@* ===============================
   CONTATO
================================*@

<section id="contato" class="contato-section">
    @using System.ComponentModel.DataAnnotations
    @using System.Net.Http
    @using System.Collections.Generic
    @using System.Threading.Tasks

    @inject HttpClient Http


    <div class="contato-wrapper">

        <div class="contato-texto">
            <h2>Vamos conversar?</h2>
            <p>
                Se você tem uma ideia, projeto ou oportunidade,
                será um prazer conversar com você.
            </p>
        </div>

        <div class="contact-card">

            @if (sucesso)
            {
                <div class="alert-success">
                    ✅ Mensagem enviada com sucesso!
                </div>
            }

            @if (erro)
            {
                <div class="alert-error">
                    ❌ Ocorreu um erro. Tente novamente.
                </div>
            }

            <EditForm Model="@contato" OnValidSubmit="EnviarFormulario">
                <DataAnnotationsValidator />

                <div class="form-group">
                    <label>Nome</label>
                    <InputText @bind-Value="contato.Nome" class="form-control" />
                </div>

                <div class="form-group">
                    <label>Email</label>
                    <InputText @bind-Value="contato.Email" class="form-control" />
                </div>

                <div class="form-group">
                    <label>Mensagem</label>
                    <InputTextArea @bind-Value="contato.Mensagem"
                                   class="form-control"
                                   rows="5" />
                </div>

                <button type="submit"
                        class="btn-enviar"
                        disabled="@enviando">
                    @if (enviando)
                    {
                        <span>Enviando...</span>
                    }
                    else
                    {
                        <span>Enviar Mensagem</span>
                    }
                </button>

            </EditForm>

        </div>

    </div>
</section>


@* ===============================
   FOOTER
================================*@

<footer class="footer">
    <p>
        Copyright © 2026
        <span>Daliene Roque.</span>.
        Todos os direitos reservados.
    </p>
</footer>


@* ===============================
   CÓDIGO C#
================================*@

@code {
    private string typedText = "";
    private string[] texts = new[]
    {
        "Olá, eu sou Daliene Roque",
        "Engenheira de Software",
        "Desenvolvedora .NET"
    };

    protected override async Task OnInitializedAsync()
    {
        await StartTypingLoop();
    }

    private async Task StartTypingLoop()
    {
        while (true)
        {
            foreach (var text in texts)
            {
                for (int i = 0; i <= text.Length; i++)
                {
                    typedText = text.Substring(0, i);
                    StateHasChanged();
                    await Task.Delay(70);
                }

                await Task.Delay(1500);

                for (int i = text.Length; i >= 0; i--)
                {
                    typedText = text.Substring(0, i);
                    StateHasChanged();
                    await Task.Delay(40);
                }

                await Task.Delay(500);
            }
        }
    }



    private ContatoModel contato = new();

    private bool enviando = false;
    private bool sucesso = false;
    private bool erro = false;

    private async Task EnviarFormulario()
    {
        enviando = true;
        sucesso = false;
        erro = false;

        try
        {
            var dados = new Dictionary<string, string>
        {
        { "name", contato.Nome },
        { "email", contato.Email },
        { "message", contato.Mensagem }
        };

            var content = new FormUrlEncodedContent(dados);

            var response = await Http.PostAsync(
            "https://formsubmit.co/dalienenl@gmail.com",
            content
            );

            if (response.IsSuccessStatusCode)
            {
                sucesso = true;
                contato = new ContatoModel();
            }
            else
            {
                erro = true;
            }
        }
        catch
        {
            erro = true;
        }

        enviando = false;
    }

    public class ContatoModel
    {
        [Required(ErrorMessage = "Nome é obrigatório")]
        public string Nome { get; set; } = string.Empty;

        [Required(ErrorMessage = "Email é obrigatório")]
        [EmailAddress(ErrorMessage = "Email inválido")]
        public string Email { get; set; } = string.Empty;

        [Required(ErrorMessage = "Mensagem é obrigatória")]
        public string Mensagem { get; set; } = string.Empty;
    }
}