name: gh-pages

on:
  push:
    branches:
      - master

permissions: 
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
    
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'
        
    - name: Publish with dotnet
      run: dotnet publish --configuration Release --output build
      
    - name: Change base tag 
      run: sed -i 's/<base href="\/" \/>/<base href="\/Portifolio\/" \/>/g' build/wwwroot/index.html
      
    - name: Deploy to GitHub Pages
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        token: ${{ secrets.PUBLISH_TOKEN }}
        branch: gh-pages
        folder: build/wwwroot
